# Ignore everything
node_modules/*
uploads
upgrade
.idea
.prettierignore
.DS_Store
mu-plugins
plugins/*
themes/*
ai1wm-backups
languages
debug.log

# But not these files...
!.gitignore
!themes/upqode
# etc...
