@import '../vars';

.upqode-error {
  &--wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    position: relative;
    text-align: center;
    --page-bg: $light;
    --post-br: 7px;
    --post-cat-bg: $grey;
    --post-bg: $light;
  }

  &--small-title {
    color: $grey;
    font-weight: 600;
    line-height: 1;
    font-size: 160px;
    margin-bottom: 15px;

    @include sm-max {
      font-size: 120px;
    }

    @media only screen and (max-width: 600px) {
      font-size: 60px;
    }
  }

  &--big-title {
    line-height: 1;
    font-size: 250px;
    margin: 0;
    color: $light;
    position: absolute;
    top: 50%;
    font-weight: 600;
    z-index: -1;
    opacity: 0.3;
    left: 50%;
    transform: translate(-50%, -50%);

    @include sm-max {
      font-size: 200px;
    }

    @include xs-max {
      font-size: 150px;
    }

    @media only screen and (max-width: 600px) {
      font-size: 90px;
    }
  }

  &--title {
    margin-bottom: 60px;
    line-height: 1.3;

    @include sm-max {
      margin-bottom: 50px;
    }

    @media only screen and (max-width: 600px) {
      margin-bottom: 25px;
    }
  }

  &--button {
    display: inline-block;
    padding: 10px 25px;
    line-height: 1.5;
    border: none;
    background-color: $grey;
    color: $light;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: var(--post-br);

    &:hover {
      background-color: $dark;
      color: $light;
    }
  }
}