.upqode-footer {
  background: $dark;
  color: $light;
  padding: 100px 0;
  text-align: center;

  a {
    color: $light;
    flex: 0 1 auto;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    background: $dark;
  }
}