* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  position: relative;
  font-size: $font-size;
  font-family: $font-family;
  color: $grey;
  line-height: 1.625rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.upqode-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &>main {
    flex: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


h1 {
  font-size: 50px;

  @include md-max {
    font-size: 32px;
  }
}

h2 {
  font-size: 34px;

  @include md-max {
    font-size: 28px;
  }
}

h3 {
  font-size: 26px;

  @include md-max {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}

a {
  color: $dark;
  outline: 0;
  text-decoration: none;
  transition: color 450ms ease;

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }

  &:hover,
  &:focus {
    color: $grey;
  }
}

strong,
b {
  font-weight: 700;
  color: $dark;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

audio,
video,
iframe {
  max-width: 100%;

  @include xs-max {
    min-width: 200px !important;
  }
}

ul,
ol {
  list-style-position: inside;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0 0 0 18px;
}

p {
  margin-bottom: 15px;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

::-moz-selection {
  background: $grey;
  color: #fff;
}

::selection {
  background: $grey;
  color: #fff;
}

::-moz-selection {
  background: $grey;
  color: #fff;
}

:focus {
  outline: 0;
}


.overflow-full {
  overflow: hidden;
}

audio,
video,
iframe {
  max-width: 100%;

  @include md-max {
    min-width: 300px;
  }
}

[hidden],
template {
  display: none;
}

pre {
  overflow: auto;
  font-family: monospace;
  font-size: 1em;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 30px;
  table-layout: fixed;
  width: 100%;
  word-break: break-word;
}

th,
td {
  padding: 7px 10px 5px;
}

table,
th,
td {
  border: 1px solid rgba($dark, 0.15);
  border-collapse: collapse;
}

select {
  border: 1px solid $grey;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: $light;

  margin: 0;

  &:focus {
    border-color: $dark;
    outline: none;
  }
}

textarea {
  width: 100%;
  border: 1px solid $grey;
  color: $dark;
  outline: 0 none;
  padding: 5px;
}


svg:not(:root) {
  overflow: hidden;
}

input {
  width: 100%;
  color: inherit;
  font-family: inherit;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus,
  &:active {
    color: $dark;
  }

  &[disabled] {
    cursor: default;
  }

  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    appearance: button;
    cursor: pointer;
    border-style: solid;
    border-width: 0;
  }
}