.upqode-header {
  position: relative;
  z-index: 101;

  @include xs-size-max {
    padding: 10px 0;
  }

  &--overlay {
    @include sm-size-min {
      display: none !important;
    }

    @include sm-size-max {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: var(--c-light);
      transform: translate(200%);
      transition: 0.3s linear;
      z-index: 100;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .upqode-header__logo {
      display: inline-flex;
      position: relative;
      margin-right: 30px;
      flex-shrink: 0;
      font-weight: 600;
      font-size: 32px;
      line-height: 1;
      color: var(--c-dark);
      text-decoration: none;
      z-index: 101;

      @include xs-size-max {
        font-size: 26px;
      }
    }

    .upqode-header__menu {
      .header-menu {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        @include sm-size-min {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 10px 30px;

          li {
            list-style: none;

            a {
              text-decoration: none;
              cursor: pointer;
            }
          }

          .sub-menu {
            opacity: 0;
            visibility: hidden;
            will-change: opacity;
          }

          .menu-item-has-children {
            display: flex;
            align-items: center;

            .dropdown-btn {
              max-width: 11px;
              will-change: transform;
              transition: transform 0.2s ease-in-out;

              svg {
                width: 11px;
                height: 8px;

                path {
                  stroke: var(--c-dark);
                }
              }
            }

            &:hover {
              & > .sub-menu {
                opacity: 1;
                visibility: visible;
              }

              .dropdown-btn {
                transform: rotate(180deg);

                path {
                  stroke: var(--c-green);
                }
              }
            }
          }

          & > li {
            display: inline-block;
            position: relative;
            font-weight: 600;
            font-size: 14px;

            a {
              color: var(--c-dark);
              display: inline-block;
              position: relative;
              padding: 0;
              font-weight: 400;
              font-size: 18px;
              line-height: 25px;
            }

            & > a {
              padding: 10px;
              will-change: color;
              transition: color 0.3s ease-in-out;

              &:hover {
                color: var(--c-green);
              }
            }

            & > ul.sub-menu {
              position: absolute;
              top: calc(100% - 2px);
              left: 50%;
              margin: 0;
              min-width: 150px;
              max-width: 600px;
              width: max-content;
              padding: 6px;
              text-align: left;
              transform: translateX(-50%);
              background-color: var(--c-light);
              border-radius: 5px;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              z-index: 102;

              & > li {
                margin-bottom: 5px;

                &:last-of-type {
                  margin-bottom: 0;
                }

                .dropdown-btn {
                  display: none;
                }

                .sub-menu {
                  visibility: hidden;
                  opacity: 0;
                  transition: opacity 0.5s ease-in-out;
                  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                }

                &.menu-item-has-children {
                  &:hover {
                    & > .sub-menu {
                      visibility: visible;
                      opacity: 1;
                    }
                  }
                }

                a {
                  display: block;
                  width: 100%;
                  padding: 5px 10px;
                  color: var(--c-grey);
                  transition: all 0.3s ease;

                  &:hover {
                    color: var(--c-green);
                  }
                }

                .sub-menu {
                  position: absolute;
                  top: 0;
                  left: calc(100% - 8px);
                  min-width: 150px;
                  max-width: 600px;
                  width: max-content;
                  opacity: 0;
                  visibility: hidden;
                  padding: 6px;
                  text-align: left;
                  background-color: var(--c-light);
                  border-radius: 5px;
                  z-index: 103;

                  .menu-item-has-children {
                    &:hover {
                      & > .sub-menu {
                        visibility: visible;
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        @include sm-size-max {
          display: none;
        }
      }

      .header--no-menu {
        @include sm-size-max {
          visibility: hidden;
          transform: translateX(200%);
          transition: transform 0.4s linear;
          will-change: transform;
        }
      }

      @include sm-size-max {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        top: 100%;
        right: 0;
        width: 100vw;
        max-width: 100vw;
        height: calc(100vh - 100%);
        background: transparent;
        z-index: 102;

        @include xs-size-max {
          height: calc(100vh - 120%);
        }

        .upqode-header__menu-wrapper {
          max-width: 100%;
          width: 100%;
          padding: 40px 30px 50px;
          text-align: center;
          overflow: hidden;
          overflow-y: scroll;

          .header-menu {
            display: flex;
            flex-direction: column;
            transform: translateX(200%);
            transition: transform 0.4s linear;

            li {
              list-style: none;
              text-align: center;

              a {
                display: inline-block;
                color: var(--c-dark);
                text-decoration: none;
                max-width: 90%;
              }

              .dropdown-btn {
                display: block;
                position: absolute;
                top: 9px;
                right: -10px;
                width: 40px;
                height: 40px;
                z-index: 103;

                @include xs-size-max {
                  right: -2px;
                  width: 25px;
                  height: 25px;
                }

                svg {
                  path {
                    stroke: var(--c-dark);
                  }
                }

                &.active {
                  svg {
                    transform: rotate(180deg);
                  }
                }
              }

              ul {
                li {
                  .dropdown-btn {
                    top: 5px;
                  }
                }
              }
            }

            & > li {
              display: block;
              position: relative;
              font-size: 22px;
              line-height: 1;
              padding: 10px 0;
              border-bottom: 1px solid var(--c-dark);

              &:last-of-type {
                border-bottom: none;
              }

              ul {
                overflow: hidden;
                transition: height 0.25s ease;

                &:not(.active) {
                  display: none;
                }
              }

              & > ul {
                flex-direction: column;
                justify-content: space-between;

                & > li {
                  position: relative;
                  padding: 5px 0;

                  &:first-of-type {
                    padding-top: 10px;
                  }

                  a {
                    font-size: 18px;
                    line-height: 25px;
                  }

                  & > ul {
                    & > li {
                      position: relative;
                      padding: 5px 0;

                      &:first-of-type {
                        padding-top: 8px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .upqode-header__burger {
      @include sm-size-min {
        display: none !important;
      }

      @include sm-size-max {
        display: inline-flex;
        position: relative;
        width: 35px;
        height: 40px;
        padding: 5px 0 5px 5px;
        appearance: none;
        background: none;
        border: none;
        outline: none;
        z-index: 101;

        div,
        div:before,
        div:after {
          background: var(--c-dark);
          position: absolute;
          height: 3px;
          border-radius: 10px;
          width: 30px;
          will-change: transform, top;
          transition: all 0.5s;
        }

        div:first-child {
          top: 10px;
        }

        div:nth-child(2) {
          top: 20px;
        }

        div:nth-child(3) {
          top: 30px;
        }

        div {
          transition: top 0.15s 0.17s, transform 0.12s 0.033s;
        }

        div:nth-child(3) {
          transition: top 0.15s 0.17s, transform 0.17s;
        }

        &.active {
          div {
            top: 20px;
            transform: rotate(135deg);
            transition: top 0.1s, transform 0.12s 0.1s;
          }

          div:nth-child(3) {
            transform: rotate(225deg);
            transition: top 0.1s, transform 0.17s 0.1s;
          }
        }
      }

      @include xs-size-max {
        width: 30px;
        height: 30px;
        padding: 0;
        appearance: none;
        background: none;
        border: none;
        outline: none;
        z-index: 101;

        div,
        div:before,
        div:after {
          height: 3px;
          width: 30px;
        }

        div:first-child {
          top: 10px;
        }

        div:nth-child(2) {
          top: 18px;
        }

        div:nth-child(3) {
          top: 26px;
        }

        &.active {
          div {
            top: 15px;
          }
        }
      }
    }
  }

  &.menu-open {
    @include sm-size-max {
      .upqode-header--overlay {
        opacity: 1;
        transform: translate(0);
      }

      .header--no-menu {
        visibility: visible;
        transform: translate(0);
      }

      .upqode-header__menu {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
        overflow-y: scroll;

        .header-menu {
          display: flex;
          flex-direction: column;
          transform: translateX(0);
        }
      }
    }
  }
}
