html,
.block-editor__container .editor-styles-wrapper {
	--c-dark: #0a2440;
	--c-light: #fff;
	--c-green: #3bcf8e;
	--c-grey: #425466;
	--ca-dark: 10, 36, 64;
	--c-light-grey: #f6f9fc;

	--font-size: 16px;
	--t-primary-font-family: 'Open Sans', sans-serif;
}