.upqode-banner-slider__content {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 100px 20px;
}
.upqode-banner-slider__content::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(var(--ca-dark), 0.5);
  z-index: 2;
}
.upqode-banner-slider__btn,
.upqode-banner-slider__description,
.upqode-banner-slider__heading {
  position: relative;
  z-index: 10;
}
.upqode-banner-slider__heading {
  color: var(--c-light);
}
.upqode-banner-slider__description {
  color: rgba(var(--ca-light), 0.8);
  margin-bottom: 30px;
  background: rgba(var(--ca-dark), 0.5);
}
.upqode-banner-slider__btn {
  padding: 15px 40px;
  text-transform: uppercase;
  display: inline-block;
  background: var(--c-green);
  color: var(--c-light);
  transition: all 0.3s ease;
  text-decoration: none;
}
.upqode-banner-slider__btn:hover {
  background: var(--c-dark);
}
